.formContainer {

  width: 100%;
  min-height: 100vh;
  background-color: #aaa1a1; 
  
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
  padding: 40px 20px;
  box-sizing: border-box;
}


.formContainer > form {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border: 1px solid #fafafa; 
  border-radius: 8px;
  background: #fff;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center; 
}